body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
  background-color: rgba(249,163,58,1);
  justify-content: space-around;
  align-items: center;
}
.cart {
  perspective: 1000px;
  transform-style: preserve-3d;
}
.cartItem {
  background-color: rgba(76,128,147,1);
  width: 250px;
  height: 250px;
  transition: transform 0.3s;
  transform: rotateX(20deg);
}
